/*.iml
/.idea
/.settings
/.classpath
/.project
/WebServicesCN.iml
/bin
/build_dist
/build_ws
config/dbconf
/target
webapp/WEB-INF/classes
webapp/WEB-INF/src/WcmApiConfig.properties
webapp/WEB-INF/src/db.properties
webapp/WEB-INF/src/dbgen.properties
webapp/WEB-INF/src/log4j.xml
webapp/WEB-INF/src/logback.xml
webapp/WEB-INF/src/net/homecredit/ws/documentmanager/dao/map/dao
webapp/WEB-INF/src/war.properties
webapp/WEB-INF/src/ws-conf.properties
webapp/WEB-INF/web.xml
webapp/WEB-INF/web.xml.template
webapp/WEB-INF/weblogic.xml
webapp/WEB-INF/weblogic.xml.template
